<%= form_tag students_path, method: :get do%>
<h4>
<%=text_field_tag :query, params[:querry]%>
<%=submit_tag "search"%>
</h4>
<%end%>

<%= @students.each do |student|%>
<h3><%= render partial: 'student', locals: {student: student}%> </h3>
<% end %>

